html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: "Poppins", sans-serif;
    background-image: url(../image/kasa.jpg);
    background-size: cover;
}